@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";

$font-primary: 'Roboto', sans-serif;
// Core
body {
  font-family: 'Roboto', sans-serif;
  background: #e2e7eb;
}
.divider{
  border-bottom: 1px solid #dddddd;
}
.selectable {
  cursor: pointer;
}
// Card
// Buttons
.btn {
  font-family: $font-primary;
}
.btn-round {
  border-radius: 100rem;
}
// Custom
.navbar-custom {
  background: #ffffff;
}
.navbar-mb {
  //background: #e2e7eb;
  //background: #C3CCD4;
  //background: #9ab4cb;
  //background: #dff2ff;
  //background: #fef0eb;
  background: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  //border-bottom: 1px solid #dddddd;
}
.navbar-mb .nav-link {
  padding: 1rem 0 !important;
  margin-right: 1.4rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.navbar-mb .nav-link:hover {
  color: $blue;
}
.navbar-mb .nav-link.active {
  position: relative;
}
.navbar-mb .nav-link.active:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: $blue;
  border-radius: 0 0 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.section {
  //background-color: #fff;
  padding: 2rem 0 2rem !important
}
.section__head {
  margin-bottom: 1rem;
}
.section__title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 300;
}
.section__body {

}
.wrapper-mb {
  //padding-top: 3.5rem;
}
.carousel-mb .img-fluid {
  margin-right: auto;
  margin-left: auto;
}
.table-features {
  font-size: 1.1rem;
}
.table-features td:first-child {
  background:url('images/bg-dot.png') repeat-x 0 1.8rem;
  padding-left: 0;
}
.table-features td:first-child div {
  background: #ffffff;
}
.table-features td:last-child {
  font-weight: 300;
}
.shop__label {
  font-weight: 300;
}
.shop__price {
  font-weight: 400;
}
.shop__price sup {
  top: -2rem;
  font-size: 45%;
}
.shop__increment, .shop__decrement {
  color: #dddddd;
}
.shop__increment:hover, .shop__decrement:hover {
  color: #333333;
}