extends ../base
block append head
    title Наша продукция
block main
    include ../../includes/menu/menu
    .hero
        .hero__block
            h1.display-4 Продажа бетона в Минске
            p.lead Подберем лучшую доставку


    .container
        .land
            h1.land__title.pl-5 Продукция
            .land__cards.card-group
                .card.border-0
                    .card-body
                        h4.card-title.mb-3
                            a(href='graviy_beton.html') Бетон на гравии
                        p.font-weight-light Гравийный щебень который производится посредством дробления скалистых валунов
                        each item in beton_gr
                            a.btn.btn-outline-primary.btn-round.btn-badge(href='#')=item.name
                .card.border-0
                    .card-body
                        h4.card-title.mb-3
                            a(href='#') Бетон на щебне
                        p.font-weight-light Эпоксидные двухкомпонентные окрасочные композиции для металлических и бетонных поверхностей.

                .card.border-0
                    .card-body
                        h4.card-title.mb-3
                            a(href='#') Раствор
                        p.font-weight-light Двухкомпонентные эпоксидные химстойкие шпатлевки и фуги по металлу и бетону, а также для разделки швов кислотоупорной плитки.



