doctype html
html
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
            link(rel='icon', type='image/png', href=require('images/logo.svg'))
            script(src='https://cdn.emailjs.com/dist/email.min.js')
    body
        - var beton_gr = [{name:'М 100', price: 52},{name:'М 150', price: 56},{name:'М 200', price: 60},{name:'М 250', price: 64},{name:'М 300', price: 68}]
        - var beton_sh = [{name:'М 150', price: 68},{name:'М 200', price: 72},{name:'М 250', price: 76},{name:'М 300', price: 80},{name:'М 350', price: 84},{name:'М 400', price: 88}]
        - var rastvor = [{name:'М 50'},{name:'М 75'},{name:'М 100'},{name:'М 150'},{name:'М 200'},{name:'М 250'}]

        block main