extends ../../base

block append head
    title Бетон на гравии
block main
    include ../../../includes/menu/menu

    -
        var grBetonData = [
        {title:'М 100', price:'52,00', oldPrice:'520 000', description: 'Используется в основном на подготовительных этапах, предшествующих заливке фундамента или монолитных плит. Для этого песчаная подушка заливается слоем бетонной смеси и уже после полного застывания проводятся арматурные работы.'},
        {title:'М 150', price:'56,00', oldPrice:'560 000', description:'Используется для формирования стяжек, заливке полов, устройства пешеходных и садовых дорожек, подушки для бордюров, а также для строительства фундаментов небольших построек.'},
        {title:'М 200', price:'60,00', oldPrice:'600 000', description:'Применяется для заливки различных фундаментов, стяжек, лестниц, полов, дорожек и т.д.'},
        {title:'М 250', price:'64,00', oldPrice:'640 000', description:'Используется для заливки монолитных фундаментов, стяжек, полов, лестниц и площадок, отмостки, лент заборов и т.д.'},
        {title:'М 300', price:'68,00', oldPrice:'680 000', description:'Применяется при заливке самых различных фундаментов, фундаментных блоков, плит перекрытий, секций заборов и т.д. От предыдущих марок по техническим характеристикам отличается повышенной прочностью и теплопроводностью.'}]

    mixin productCardBody(product)
        if product
            .card-body.pb-0
                h4.card-title.text-primary=product.title
                p.font-weight-light=product.description
                p
                    span.text-muted.font-weight-light.text-sm Цена за 1 куб без НДС:
                    br
                    span.font-weight-bold #{product.price} бел.руб.
                p.text-muted.font-weight-light
                    span.text-sm Цена до деноминации:
                    br
                    span #{product.oldPrice} бел.руб.
            button.btn.btn-lg.btn-block.btn-buy.font-weight-light Заказать
    .container
        .my-5.card-group-imposition
            .card-group
                .card.border-top-0.border-left-0
                    +productCardBody(grBetonData[0])
                .card.border-top-0
                    +productCardBody(grBetonData[1])
                .card.border-top-0.border-right-0
                    +productCardBody(grBetonData[2])
            .card-group
                .card.border-bottom-0.border-left-0
                    +productCardBody(grBetonData[3])
                .card.border-bottom-0
                    +productCardBody(grBetonData[4])
                .card.border-bottom-0.border-right-0
                    +productCardBody(null)

                //           -
                //                var betonData = [
                //                {ma: 'M 100', gr: 51, sh: false,
                //                info:'Используется в основном на подготовительных этапах, предшествующих заливке фундамента или монолитных плит. Для этого песчаная подушка заливается слоем бетонной смеси и уже после полного застывания проводятся арматурные работы.'},
                //                {ma: 'M 150<span class="grey-text marka-info small">(C 8/10)</span>', gr: 55, sh: 67,
                //                info:'Используется для формирования стяжек, заливке полов, устройства пешеходных и садовых дорожек, подушки для бордюров, а также для строительства фундаментов небольших построек.'},
                //                {ma: 'M 200<span class="grey-text marka-info small">(C 12/15)</span>', gr: 59, sh: 71,
                //                info:'Применяется для заливки различных фундаментов, стяжек, лестниц, полов, дорожек и т.д.'},
                //                {ma: 'M 250<span class="grey-text marka-info small">(C 16/20)</span>', gr: 63, sh: 75,
                //                info:'Используется для заливки монолитных фундаментов, стяжек, полов, лестниц и площадок, отмостки, лент заборов и т.д.'},
                //                {ma: 'M 300<span class="grey-text marka-info small">(C 18/22.5)</span>', gr: 67, sh: 79,
                //                info:'Применяется при заливке самых различных фундаментов, фундаментных блоков, плит перекрытий, секций заборов и т.д. От предыдущих марок по техническим характеристикам отличается повышенной прочностью и теплопроводностью.'},
                //                {ma: 'M 350<span class="grey-text marka-info small">(C 20/25)</span>', gr: false, sh: 83,
                //                info:'Используется при производстве монолитных плит, плит перекрытий, колонн, фундаментов, бассейнов и других конструкций, которые должны выдерживать большие нагрузки.'},
                //                {ma: 'M 400<span class="grey-text marka-info small">(C 25/30)</span>', gr: false, sh: 87,
                //                info:'Применяется при изготовлении конструкций мостов, гидротехнических сооружений и иных объектов специального назначения. Из-за большой прочности и высокой стоимости данная марка не применяется для индивидуального строительства.'}
                //                ];
                //                var rastvorData = [
                //                {ma: '<span title="Растворная смесь готовая к применению">РСГП М 50</span>', pr: 51,
                //                info:'Применяется для каменной и кирпичной кладки и т.д.'},
                //                {ma: '<span title="Растворная смесь готовая к применению">РСГП М 75</span>', pr: 55,
                //                info:'Используется для армированной кирпичной и каменной кладки при возведении наружных стен, внутренних помещений зданий с относительно повышенной влажностью воздуха, а также при кладке полнотелого кирпича и тяжелого камня и т.д.'},
                //                {ma: '<span title="Растворная смесь готовая к применению">РСГП М 100</span>', pr: 59,
                //                info:'Применяется при заливке стяжек под разные виды напольных покрытий, кладке полнотелого кирпича и кирпичных фундаментов и т.д.'},
                //                {ma: '<span title="Растворная смесь готовая к применению">РСГП М 150</span>', pr: 63,
                //                info:'Используется для заливки стяжек, укладки керамической плитки, кладки облицовочного слоя полов и т.д.'},
                //                {ma: '<span title="Растворная смесь готовая к применению">РСГП М 200</span>', pr: 67,
                //                info:'Применяется при заполнении стыков сборных конструкций из тяжелых видов бетона, а также, если предусмотрено проектом, их оштукатуривании и т.д.'},
                //                {ma: '<span title="Растворная смесь готовая к применению">РСГП М 250</span>', pr: 71,
                //                info:'Используется для особых стяжек полов, применяется при работах с повышенными требованиями к долговечности и прочности изделия.'}
                //                ];