extends ../base

block title
    | Index page
block head
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
block main
    +menu('/')

    +section('Цена на продукцию')
        div.container
            table.table
                thead.thead-default
                    tr
                        th Марка бетона
                        th На гравии
                        th На щебне
                tbody
                    tr
                        td M 100
                        td 52 BYN
                        td -
                    tr
                        td M 150
                        td 56 BYN
                        td 68 BYN
                    tr
                        td M 200
                        td 60 BYN
                        td 72 BYN
                    tr
                        td M 250
                        td 64 BYN
                        td 76 BYN
                    tr
                        td M 300
                        td 68 BYN
                        td 80 BYN
                    tr
                        td M 350
                        td -
                        td 84 BYN
                    tr
                        td M 400
                        td -
                        td 88 BYN

    hr

    +section('Доставка осуществляется')
        .container.shipping
            .row
                .col-12.col-sm-6.text-center
                    img(src=require('../../images/dumptruck.png') width='100%')
                    h5 Самосвал
                .col-12.col-sm-6.text-center
                    img(src=require('../../images/mixer.png') width='100%')
                    h5 Автобетоносмеситель

    hr

    +section('Сертификаты соответствия')
        .container.shipping
            .row
                .col-12.col-sm-6.text-center
                    img(src=require('../../images/rastvor.jpg') height='300')
                .col-12.col-sm-6.text-center
                    img(src=require('../../images/beton.jpg') height='300')

    hr

    +section('Контакты')
.container
    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(href='#beton_graviy' data-toggle='tab')
                | beton_graviy
        li.nav-item
            a.nav-link(href='#beton_sheben' data-toggle='tab')
                | beton_sheben
        li.nav-item
            a.nav-link(href='#rastvor' data-toggle='tab')
                | rastvor
    .tab-content
        #beton_graviy.tab-pane.active
            | beton_graviy
        #beton_sheben.tab-pane
            | beton_sheben
        #rastvor.tab-pane
            | rastvor
    #map
